<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.ssafy.companion_board.persistent.repository.CommentRepository">
    <!-- ResultMap 정의 -->
    <resultMap id="CommentResultMap" type="com.ssafy.companion_board.persistent.entity.Comment">
        <id property="id" column="id" /> <!-- 댓글 ID -->
	    <result property="articleNo" column="article_no" /> <!-- 게시물 번호 -->
	    <result property="userId" column="user_id" /> <!-- 사용자 ID -->
	    <result property="content" column="content" /> <!-- 댓글 내용 -->
	    <result property="parentId" column="parent_id" />
	    <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/> <!-- 생성일 -->
	    <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 댓글 조회 (단건) -->
    <select id="findComment" resultMap="CommentResultMap">
        SELECT 
            *
        FROM 
            comments
        WHERE 
            id = #{commentId}
    </select>
    <select id="findCommentByUserId" resultMap="CommentResultMap">
        SELECT 
            *
        FROM 
            comments
        WHERE 
            user_id = #{userId} 
    </select>
    
    <select id="findCommentByUserArticle" resultMap="CommentResultMap">
        SELECT 
            *
        FROM comments
	    WHERE 
	        article_no IN (
	            SELECT 
	                article_no 
	            FROM 
	                companion_board
	            WHERE 
	                user_id = #{userId}
	        )
    </select>
    
    <select id="findChildCommentByUserParentComment" resultMap="CommentResultMap">
        SELECT 
            *
        FROM 
        comments
	    WHERE 
	        parent_id IN (
	            SELECT 
	                id 
	            FROM 
	                comments 
	            WHERE 
	                user_id = #{userId} and parent_id is not null;
	        )
    </select>

    <!-- 댓글 갯수 조회 (게시물 번호로 댓글 갯수 찾기) -->
    <select id="countComment" resultType="int">
        SELECT COUNT(*) 
        FROM comments
        WHERE article_no = #{articleNo}
    </select>

    <!-- 댓글 생성 -->
    <insert id="createComment">
    	<if test="parentId == null">
			INSERT INTO comments (article_no, user_id, content)
        	VALUES (#{articleNo}, #{userId}, #{content})
    	</if>
    	<if test="parentId != null">
			INSERT INTO comments (article_no, user_id, content, parent_id)
        	VALUES (#{articleNo}, #{userId}, #{content}, #{parentId})
    	</if>
    </insert>

    <!-- 댓글 삭제 -->
    <delete id="deleteComment">
        DELETE FROM comments
        WHERE id = #{commentId}
    </delete>

    <!-- 댓글 수정 -->
    <update id="updateComment">
        UPDATE comments
        SET content = #{content}, article_no =#{articleNo}, user_id=#{userId}, content = #{content};     // 댓글이 달린 게시물 번호
        WHERE id = #{id}
    </update>

    <!-- 게시물에 대한 모든 댓글 갯수 조회 -->
    <select id="findComments" resultMap="CommentResultMap">
        SELECT *
        FROM comments
        WHERE article_no = #{articleNo}
    </select>

</mapper>
